@import "@/app/styles/mixins.scss";

.header {
  transition: padding 0.3s ease 0s, background-color 0.3s ease 0s;
  &.active {
    background-color: #000000;
    @include adaptiveValue("padding-top", 10, 5, 0, 1920, 768); //
    @include adaptiveValue("padding-bottom", 10, 5, 0, 1920, 768); //
  }
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  //   background: #000;
  @include adaptiveValue("padding-top", 40, 30, 0, 1920, 768); //
  @include adaptiveValue("padding-bottom", 40, 30, 0, 1920, 768); //

  display: flex;
  justify-content: center;
  align-items: center;
  @include adaptiveValue("gap", 100, 30, 0, 1920, 768);

  .burger {
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    cursor: pointer;
    position: absolute;
    z-index: 5;
    top: 50%;
    right: 30px;
    transform: translate(0px, -50%);
    span {
      transition: all 0.3s ease 0s;
      background: #fceb57;
      height: 2px;
      width: 100%;
      &:first-child {
        width: 40%;
      }
      &:nth-child(2) {
        width: 80%;
      }
    }
    &.active {
      span {
        &:first-child {
          width: 100%;
        }
        &:nth-child(2) {
          width: 100%;
        }
      }
    }
    display: none;
    @media (max-width: 768px) {
      display: flex;
    }
  }

  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    @include adaptiveValue("gap", 100, 30, 0, 1920, 768);
    @media (max-width: 768px) {
      opacity: 0;
      transform: translate(1100px, 0px);
      transition: all 0.3s ease 0s;
      &.active {
        transform: translate(0px, 0px);
        opacity: 1;
      }
      background: #000000;
      position: fixed;
      z-index: 4;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      flex-direction: column;
      overflow: auto;
      ul {
        //   padding-top: 100px;
        li {
          font-size: 40px;
          @include adaptiveValue("font-size", 40, 20, 0, 768, 320);
        }
        flex-direction: column;
      }
    }
  }

  .logo {
    position: relative;
    width: 80px;
    height: 70px;
    @include adaptiveValue("width", 80, 60, 0, 1024, 768);
    @include adaptiveValue("height", 70, 50, 0, 1024, 768);
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: contain;
    }
  }
}
