@import "@/app/styles/mixins.scss";

.BaseButton {
  @include adaptiveValue("border-radius", 11, 5, 0, 1920, 768);
  box-shadow: inset -2px -2px 4px 0 rgba(252, 235, 87, 0.85),
    2px 1px 5px 0 rgba(252, 235, 87, 0.85);
  background: #ffffff;
  color: #000;

  font-family: inherit;
  font-weight: 400;
  @include adaptiveValue("font-size", 24, 14, 0, 1920, 768);
  @include adaptiveValue("padding-top", 20, 10, 0, 1920, 768);
  @include adaptiveValue("padding-bottom", 20, 10, 0, 1920, 768);
  @include adaptiveValue("padding-right", 27, 14, 0, 1920, 768);
  @include adaptiveValue("padding-left", 27, 14, 0, 1920, 768);

  display: flex;

  @include adaptiveValue("gap", 17, 5, 0, 1920, 768);

  transition: all 0.3s ease 0s;
  img {
    transition: all 0.3s ease 0s;
    @include adaptiveValue("width", 14, 7, 0, 1920, 768);
    @include adaptiveValue("height", 14, 7, 0, 1920, 768);
  }
  &:hover {
    box-shadow: inset -2px -2px 4px 0 rgba(252, 235, 87, 0.85),
      2px 1px 10px 0 rgba(252, 235, 87, 0.85);
    transform: translate(0px, -2px);
    img {
      transition: all 0.3s ease 0s;
      transform: translate(4px, -3px);
    }
  }
}
